<template>
  <v-card class="balance-card" xs12>
      <v-card-text>
        <v-layout xs12>
          <v-flex xs6 justify-start align-content-start> 
            <span xs6 > Saldo em dinheiro </span>
          </v-flex>
          <v-flex xs6 justify-start align-content-start> 
            <span> R$ 2,00 </span>
            <v-btn small color="grey" @click="dialog2 = true">Add</v-btn>
            <v-dialog v-model="dialog2" max-width="500px">
              <v-card>
                <v-card-title>
                  Add a Income
                </v-card-title>
                <v-card-text>
                  Adding income value
                  <v-text-field
                    v-model="value"
                    label="Amount"
                    prefix="R$">
                  </v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-btn color="primary" flat @click="addStatement">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-flex>
        </v-layout>
      </v-card-text>
  </v-card>
</template>

<script>
import { type } from 'os';

export default {
  components: {
  },
  data: () => ({
    total: 2.00,
    dialog2: false,
    value: 0
  }),
  computed: {
    user () {
      return this.$store.state.user.user
    }
  },
  methods: {
    async addStatement () {
      try {
        let userId = this.$firebase.auth().currentUser.uid
        console.log('data base', this.$firebase.database().ref('statement'))
        this.$firebase.database().ref('statement/' + userId).set({
          value: this.value,
          type: 'income'
        })
        this.dialog2 = false
      } catch (err) {
        console.log('error', err)
      }
    },
  }
}
</script>

<style>
.balance-card {
  height: 200px;
}
</style>
