<template>
  <v-layout>
    <v-flex xs6>
      <v-list two-line>
          <v-list-tile>
              <v-list-tile-content>
                  Corrida R$ 6.5
              </v-list-tile-content>
          </v-list-tile>
      </v-list>
    </v-flex>
  </v-layout>
</template>

<style>
.balance-card {
  height: 200px;
}
</style>