<template>
  <v-layout justify-center>
    <v-flex xs4>
        <v-text-field
            v-model="email"
            :rules="emailRules"
            label="E-mail"
            required>
        </v-text-field>
        <v-text-field
            v-model="password"
            :append-icon="show1 ? 'visibility' : 'visibility_off'"
            :rules="[rules.required, rules.min]"
            :type="show1 ? 'text' : 'password'"
            name="input-10-1"
            label="Normal with hint text"
            hint="At least 8 characters"
            counter
            :error="errorPassword"
            error-messages="Passwords must match"
            @click:append="show1 = !show1">
        </v-text-field>
        <v-text-field
            v-if="type === 'register'"
            v-model="confirmPassword"
            :append-icon="show2 ? 'visibility' : 'visibility_off'"
            :rules="[rules.required, rules.min]"
            :type="show2 ? 'text' : 'password'"
            name="input-10-1"
            label="Normal with hint text"
            hint="At least 8 characters"
            counter
            :error="errorPassword"
            error-messages="Passwords must match"
            @click:append="show2 = !show2">
        </v-text-field>
        <v-btn small color="green" @click="handleData">{{btnText}}</v-btn>
        <v-dialog v-model="dialog2" max-width="500px">
          <v-card>
            <v-card-title>
              {{dialogTitle}}
            </v-card-title>
            <v-card-text>
              {{dialogText}}
            </v-card-text>
            <v-card-actions>
              <v-btn color="primary" flat @click="clodeModal">Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
    </v-flex>
  </v-layout>
</template>


<script>
import { type } from 'os';

export default {
  name: 'user-form',
  props: {
    type: {
      type: String,
      default: 'register'
    }
  },
  components: {
  },
  computed: {
    btnText () {
      return this.type === 'register' ? 'Save': 'Login'
    }
  },
  data: () => ({
    errorFirebase: false,
    dialog2: false,
    dialogTitle: '',
    dialogText: '',
    errorPassword: true,
    confirmPassword: '',
    password: '',
    rules: {
      required: value => !!value || 'Required.',
      min: v => v.length >= 8 || 'Min 8 characters',
    },
    show1: false,
    show2: false,
    email: '',
    emailRules: [
      v => !!v || 'E-mail is required',
      v => /.+@.+/.test(v) || 'E-mail must be valid'
    ],
  }),
  methods: {
    async handleData () {
      try {
        if (this.type === 'register') {
          if (this.password === this.confirmPassword) {
            this.errorPassword = false
            await this.$firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
            this.dialogTitle = 'Success Register'
            this.dialogText = 'You have been successeful register'
            this.dialog2 = true
            this.errorFirebase = false
          } else {
            this.errorPassword = true
          }
        } else {
            let response = await this.$firebase.auth().signInWithEmailAndPassword(this.email, this.password)
            console.log('response', response.user.providerData)
            this.$store.commit('user/add', response.user.providerData)
            this.$router.push('/wallet')
        }
      } catch (err) {
          console.log('erro', err)
          if ('code' in err && err.code === 'auth/email-already-in-use') {
            this.dialogTitle = 'Email already used'
            this.dialogText = err.message
            this.dialog2 = true
            this.errorFirebase = true
          }
      }
    },
    clodeModal () {
      if (!this.errorFirebase) {
        this.email = ''
        this.confirmPassword = ''
        this.password = ''
      }
      this.dialog2 = false
    }
  }
}
</script>