<template>
  <v-app dark>
    <v-toolbar
      :clipped-left="clipped"
      fixed
      app
    >
      <v-toolbar-side-icon v-if="isLogged" @click="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn
        v-if='isLogged'
        icon
        @click.stop="logout"
      >
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer
      :fixed="fixed"
      app
    >
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'apps',
          title: 'Welcome',
          to: '/'
        },
        {
          icon: 'bubble_chart',
          title: 'Inspire',
          to: '/inspire'
        },
        {
          icon: 'bubble_chart',
          title: 'wallet',
          to: '/wallet'
        },
        {
          icon: 'bubble_chart',
          title: 'signin',
          to: '/signin'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Wallet'
    }
  },
  computed: {
    isLogged () {
      return this.$store.state.user.user
    }
  },
  methods: {
    logout () {
      this.$store.commit('user/remove')
      this.$router.push('/login')
    }
  },
  beforeRouteUpdate (to, from, next) {
    // called before the route that renders this component is confirmed.
    // does NOT have access to `this` component instance,
    // because it has not been created yet when this guard is called!
    console.log('to', to)
  },
}
</script>
