<template>
  <v-layout justify-center>
    <v-flex xs4>
        <user-form></user-form>
    </v-flex>
  </v-layout>
</template>


<script>
import UserForm from '~/components/UserForm.vue'

export default {
  components: {
    UserForm,
  }
}
</script>