<template>
  <v-layout xs12>
    <v-flex>
        <balance></balance>
        <v-btn dark>
            <v-icon>ondemand_video</v-icon>
            <span>Ver historico de uso</span>
        </v-btn>
        <v-btn dark>
            <v-icon>ondemand_video</v-icon>
            <span>Pedir reembolso</span>
        </v-btn>
        <v-btn dark>
            <v-icon>ondemand_video</v-icon>
            <span>Central de ajuda</span>
        </v-btn>
    </v-flex>
  </v-layout>
</template>


<script>
import Balance from '~/components/Balance.vue'

export default {
  components: {
    Balance,
  },
  fetch ({ store, redirect }) {
    if (!store.state.user.user) {
      return redirect('/')
    }
  }
}
</script>